@import "../../../../assets/scss/screen-size.scss";


.dashboard-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;

    .dasboard-middle-section {
        position: absolute;
        top: 10vh;
        left: 16vw;
        width: 62vw;
        height: 88vh;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 5px;

        .greeting-section {
            width: 100%;
            margin-bottom: 25px;

            h1 {
                font-weight: 500;
                font-size: 25px;
            }

            h4 {
                font-weight: 300;
                font-size: 15px;

            }
        }

        .chart-section {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-bottom: 10%;

            .Doughnut-chart {
                width: 30%;
            }

            .line-chart {
                width: 60%;
            }
        }

        .schedule-section {
            width: 100%;
        }
    }

    .dasboard-middle-section::-webkit-scrollbar {
        display: none;
    }

}


@media screen and (max-width:$desktop-avg-max) {

    .dashboard-container {

        .dasboard-middle-section {

            box-sizing: border-box;
            left: 11vw;
            width: 88vw;

            .greeting-section {}

            .chart-section {
                box-sizing: border-box;
                flex-direction: column;
                height: auto;
                box-sizing: border-box;


                .Doughnut-chart {
                    width: 30%;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    margin-top: 5%;

                }

                .line-chart {
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;

                }
            }

            .schedule-section {}
        }



    }
}

@media screen and (max-width:$tablet-max) {

    .dashboard-container {

        .dasboard-middle-section {

            .greeting-section {}

            .chart-section {
             

                .Doughnut-chart {
                    width: 50%;
                  

                }

                .line-chart {
                    width: 90%;
                   

                }
            }

        }



    }
}

@media screen and (max-width:$mobile-max) {

    .dashboard-container {


        .dasboard-middle-section {
            width: 100%;
            left: 0;
            padding: 25px;
            height: auto;
            box-sizing: border-box;


            .chart-section {
              

                .Doughnut-chart {
                    width: 60%;
                }

                .line-chart {
                    width: 100%;
                }
            }

        }



    }
}