@import "../../../assets/scss/screen-size.scss";


.grades-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;

    .grades-section {
        position: absolute;
        top: 10vh;
        left: 16vw;
        width: 83vw;
        height: 88vh;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;


        .heading {
            width: 100%;
            text-align: left;
        }




        .main-section {
            margin-bottom: 40px;
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 30px;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;


            .heading {
                width: 100%;
                text-align: left;
            }

            .table-headers {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 10px 0px;

                .headers {
                    width: 17.33%;
                    text-align: left;
                    padding: 5px;
                    font-weight: bold;
                }
            }

            .grades-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                margin: 20px 0px;
                padding: 10px 5px;
                border-radius: 10px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;



                .grades-sub-box {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    box-sizing: border-box;
                    padding: 5px 0px;



                    .grades-column {
                        width: 17.33%;
                        padding: 8px;
                        text-align: left;
                    }

                    .status {
                        color: tomato
                    }


                }
            }
        }
    }
}


@media screen and (max-width:$desktop-avg) {

    .grades-container {


        .grades-section {
            left:11vw;
            width:87vw;
           

        }

    }

}

@media screen and (max-width:$mobile-max) {

    .grades-container {


        .grades-section {
            left:1vw;
            width:98%;
            padding: 5px;


            .main-section {
                padding: 5px;
            }

        }

    }

}