<div class="grades-container">
    <app-topNavBar></app-topNavBar>
    <app-sideNavBar></app-sideNavBar>
    <div class="grades-section">
        <div class="heading">
            <h2>Grades</h2>
        </div>
        <div class="main-section">
            <div class="heading">
                <h2>Semester 1</h2>
            </div>
            <div class="table-headers">
                <div class="headers">Subject</div>
                <div class="headers">Date</div>
                <div class="headers">Marks Obtained</div>
                <div class="headers">Total Marks</div>
                <div class="headers">Status</div>
                <div class="headers">Grade</div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="heading">
                <h2>Semester 1</h2>
            </div>
            <div class="table-headers">
                <div class="headers">Subject</div>
                <div class="headers">Date</div>
                <div class="headers">Marks Obtained</div>
                <div class="headers">Total Marks</div>
                <div class="headers">Status</div>
                <div class="headers">Grade</div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="heading">
                <h2>Semester 1</h2>
            </div>
            <div class="table-headers">
                <div class="headers">Subject</div>
                <div class="headers">Date</div>
                <div class="headers">Marks Obtained</div>
                <div class="headers">Total Marks</div>
                <div class="headers">Status</div>
                <div class="headers">Grade</div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                   <div class="grades-column">COA</div>
                   <div class="grades-column">24/7/2020</div>
                   <div class="grades-column">85</div>
                   <div class="grades-column">100</div>
                   <div class="grades-column  status">Pass</div>
                   <div class="grades-column">A+</div>
                </div>
            </div>
        </div>

    </div>
</div>