<div class="grades-container">
    <app-topNavBar></app-topNavBar>
    <app-sideNavBar></app-sideNavBar>
    <div class="grades-section">
        <div class="heading">
            <h2>Grades</h2>
        </div>
        <div class="main-section" *ngFor="let marks of userMarksArray">
            <div class="heading">
                <h2>{{marks.subjectName}}</h2>
            </div>
            <div class="table-headers">
                <div class="headers">Subject</div>
                <div class="headers">Marks Obtained</div>
                <div class="headers">Total Marks</div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                    <div class="grades-column">UT1</div>
                    <div class="grades-column">{{marks.UT1}}</div>
                    <div class="grades-column">{{paperTotalMarks.UT1}}</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                    <div class="grades-column">UT2</div>
                    <div class="grades-column">{{marks.UT2}}</div>
                    <div class="grades-column">{{paperTotalMarks.UT2}}</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                    <div class="grades-column">UT3</div>
                    <div class="grades-column">{{marks.UT3}}</div>
                    <div class="grades-column">{{paperTotalMarks.UT3}}</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                    <div class="grades-column">UT4</div>
                    <div class="grades-column">{{marks.UT4}}</div>
                    <div class="grades-column">{{paperTotalMarks.UT4}}</div>
                </div>
            </div>
            <div class="grades-box">
                <div class="grades-sub-box">
                    <div class="grades-column">Midterm</div>
                    <div class="grades-column">{{marks.Midterm}}</div>
                    <div class="grades-column">{{paperTotalMarks.Midterm}}</div>
                </div>
            </div>

            <div class="grades-box">
                <div class="grades-sub-box">
                    <div class="grades-column">Preboard1</div>
                    <div class="grades-column">{{marks.Preboard1}}</div>
                    <div class="grades-column">{{paperTotalMarks.Preboard1}}</div>
                </div>
            </div>

            <div class="grades-box">
                <div class="grades-sub-box">
                    <div class="grades-column">Preboard2</div>
                    <div class="grades-column">{{marks.Preboard2}}</div>
                    <div class="grades-column">{{paperTotalMarks.Preboard2}}</div>
                </div>
            </div>

        </div>


    </div>
</div>