<div class="schedule-container">
    <h1> Today's Schedule</h1>
    <div class="schedule-table-titles">
        <div>Time</div>
        <div>Subject</div>
        <div>Faculty</div>
    </div>
    <div class="schdedule-table-section">
        <div class="schedule-table-rows">
            <div id="time-column">  <span>10:30pm</span> </div>
            <div >Computer Organization</div>
            <div id="faculty-column">
                <div class="faculty-image"></div>
                <span>Mr Gopi Chand</span>
            </div>
        </div>
        <div class="schedule-table-rows">
            <div id="time-column">  <span>10:30pm</span> </div>
            <div >Computer Organization</div>
            <div id="faculty-column">
                <div class="faculty-image"></div>
                <span>Mr Gopi Chand</span>
            </div>
        </div>
        <div class="schedule-table-rows">
            <div id="time-column">  <span>10:30pm</span> </div>
            <div >Computer Organization</div>
            <div id="faculty-column">
                <div class="faculty-image"></div>
                <span>Mr Gopi Chand</span>
            </div>
        </div>
        <div class="schedule-table-rows">
            <div id="time-column">  <span>10:30pm</span> </div>
            <div >Computer Organization</div>
            <div id="faculty-column">
                <div class="faculty-image"></div>
                <span>Mr Gopi Chand</span>
            </div>
        </div>
        <div class="schedule-table-rows">
            <div id="time-column">  <span>10:30pm</span> </div>
            <div >Computer Organization</div>
            <div id="faculty-column">
                <div class="faculty-image"></div>
                <span>Mr Gopi Chand</span>
            </div>
        </div>
        <div class="schedule-table-rows">
            <div id="time-column">  <span>10:30pm</span> </div>
            <div >Computer Organization</div>
            <div id="faculty-column">
                <div class="faculty-image"></div>
                <span>Mr Gopi Chand</span>
            </div>
        </div>
        <div class="schedule-table-rows">
            <div id="time-column">  <span>10:30pm</span> </div>
            <div >Computer Organization</div>
            <div id="faculty-column">
                <div class="faculty-image"></div>
                <span>Mr Gopi Chand</span>
            </div>
        </div>
    </div>
</div >