@import "../../../../assets/scss/screen-size.scss";


.topNavBar-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
    background: #f0f2f5;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    padding-left: 200px;
    padding-right: 50px;
    box-sizing: border-box;

    .topNavBar-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 15%;
        justify-content: space-around;

        .user-profile-icon {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: rgb(236, 174, 174);
            box-sizing: border-box;

            img {
                height: 100%;
                width: 100%;
                border-radius: 100%;
            }
        }

        .logout-icon {
            cursor: pointer;
            position: relative;


            .hover-text {
                display: none;
            }
        }



        .logout-icon:hover>.hover-text {
            position: absolute;
            display: flex;
            color:tomato;
            font-size: 15px;
            top:100%;
            left:-50%;
        }

    }

}

@media screen and (max-width:$tablet-max) {
    .topNavBar-container {

        .topNavBar-icons {
            width: 25%;
        }

    }
}

@media screen and (max-width:$tablet-min) {


    .topNavBar-container {
        padding-right: 20px;
        padding-left: 100px;

        .topNavBar-icons {
            justify-content: flex-end;
            width: 40%;

            .user-profile-icon {
                margin-right: 10%;
            }

        }

    }
}