<div class="announcement-container">
    <div class="announcement-header">
        <h1 class="announcement-heading">Announcement</h1>
        <!-- <CampaignIcon /> -->
    </div>
    <div class="announcement-body-container">
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard , photograph, tiffin,fee slip and previous id card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard ,slip and previous id card First day of school , please bring icard , photograph, tiffin,fee slip and previous id card First day of school</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard , photograph, tiffin,fee slip and previous id card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard ,slip and previous id card First day of school , please bring icard , photograph, tiffin,fee slip and previous id card First day of school</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard , photograph, tiffin,fee slip and previous id card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard ,slip and previous id card First day of school , please bring icard , photograph, tiffin,fee slip and previous id card First day of school</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard , photograph, tiffin,fee slip and previous id card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard ,slip and previous id card First day of school , please bring icard , photograph, tiffin,fee slip and previous id card First day of school</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard , photograph, tiffin,fee slip and previous id card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First day of school , please bring icard ,slip and previous id card First day of school , please bring icard , photograph, tiffin,fee slip and previous id card First day of school</div>
        </div>
    </div>
</div>