<div class="syllabus-container">
    <app-topNavBar></app-topNavBar>
    <app-sideNavBar></app-sideNavBar>
    <div class="syllabus-section">
        <div class="heading">
            <h2>Syllabus</h2>
        </div>
        <div class="main-container">
            <div class="sub-heading">
                <h2>Semester 1</h2>
            </div>
            <div class="subcontainer">
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
            </div>        
        </div>
        <div class="main-container">
            <div class="sub-heading">
                <h2>Semester 1</h2>
            </div>
            <div class="subcontainer">
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
            </div>        
        </div>
        <div class="main-container">
            <div class="sub-heading">
                <h2>Semester 1</h2>
            </div>
            <div class="subcontainer">
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
            </div>        
        </div>
        <div class="main-container">
            <div class="sub-heading">
                <h2>Semester 1</h2>
            </div>
            <div class="subcontainer">
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
                <div class="syllabus-box">
                    <div class="heading">
                        Unit & shelling programming
                    </div>
                    <div class="title">Maths</div>
                    <div class="download-button">Download</div>
                </div>
            </div>        
        </div>

    </div>
</div>