<div class="syllabus-container">
    <app-topNavBar></app-topNavBar>
    <app-sideNavBar></app-sideNavBar>
    <div class="syllabus-section">
        <div class="heading">
            <h2>Syllabus</h2>
        </div>
        <div class="main-container" *ngFor="let syllabus  of classSyllabusArray">
            <div class="sub-heading">
                <h2>{{syllabus.syllabusTitle}}</h2>
            </div>
            <div class="subcontainer" >
                <div class="syllabus-box" *ngFor="let subject  of syllabus.subjectSllyabusArray">
                    <div class="heading">
                        {{subject.subject}}
                    </div>
                    <div class="title"></div>
                    <div class="download-button"> <a [href]="subject.link">Download</a> </div>
                </div>
            </div>        
        </div>
    </div>
</div>