@import "../../../assets/scss/screen-size.scss";


.syllabus-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;

    .syllabus-section {
        position: absolute;
        top: 10vh;
        left: 16vw;
        width: 83vw;
        height: 88vh;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;

        .heading {
            width: 100%;
            text-align: left;
        }

        .main-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;


            .sub-heading {
                width: 100%;
                text-align: left;

            }

            .subcontainer {
                display: flex;
                width: 100%;
                box-sizing: border-box;
                height: auto;
                padding: 25px;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                .syllabus-box {
                    width: 28%;
                    height: 25vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 15px;
                    margin: 5px;
                    box-shadow: rgba(3, 102, 214, 0.3) 0px 1px 2px 0px, rgba(3, 102, 214, 0.3) 0px 2px 6px 2px;
                    // box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

                    .heading {
                        font-size: 20px;
                        text-align: center;
                    }

                    .title {
                        font-size: 18px;
                    }

                    .download-button {
                        width: 50%;
                        background-color: #0096d3;
                        border: none;
                        padding: 15px;
                        color: #ffffff;
                        text-align: center;
                    }


                }


            }
        }


    }

}


@media screen and (max-width:$desktop-avg) {

    .syllabus-container {

        .syllabus-section {
            left: 11vw;
            width: 88vw;
            padding: 5px;

            .main-container {

                .subcontainer {
                    padding: 10px;

                    .syllabus-box {
                        width: 42%;
                        height: 25vh;
                    }
                }
            }
        }

    }

}

@media screen and (max-width:$mobile-max) {

    .syllabus-container {


        .syllabus-section {

            border: 2px solid red;
            left: 0;
            width: 98%;
            right: 0;
            margin: auto;

            .main-container {


                .subcontainer {
                    justify-content: center;
                    .syllabus-box {
                        width: 70%;
                        height: 25vh;
                        margin-top: 10px;
                    }
                }
            }


        }

    }

}