<div class="sideNavBar">
    <div class="sideNavBar-heading">
        <span>UNIPORT</span>
    </div>
    <div class="sideNavBar-container">
        <div class="sideNavBar-icon-container">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </div>
        <div class="sideNavBar-icon-container">
            <mat-icon>calendar_today</mat-icon>
            <span>Calendar</span>
        </div>
        <div class="sideNavBar-icon-container">
            <mat-icon> message</mat-icon>
            <span>Message</span>
        </div>
        <div class="sideNavBar-icon-container">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </div>
        <div class="sideNavBar-icon-container">
            <mat-icon>subject</mat-icon>
            <span>Grades</span>
        </div>
        <div class="sideNavBar-icon-container">
            <mat-icon>assignment_ind</mat-icon>
            <span>Assignment</span>
        </div>
    </div>
</div>

<!-- class={toggleSideNavBar ? 'collpaseSideNavBar sideNavBar' : 'sideNavBar'} -->