<div class="sideNavBar">
    <div class="sideNavBar-heading">
        <span>UNIPORT</span>
    </div>
   
    <div class="sideNavBar-container">
        <div class="sideNavBar-icon-container">
            <a href="/dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </a>
        </div>
        <div class="sideNavBar-icon-container">
            <mat-icon>calendar_today</mat-icon>
            <span>Calendar</span>
        </div>
        <div class="sideNavBar-icon-container">
            <mat-icon> message</mat-icon>
            <span>Message</span>
        </div>
        <div class="sideNavBar-icon-container">
            <a href="/account">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </a>
        </div>
        <div class="sideNavBar-icon-container">
            <a href="/grades">
                <mat-icon>card_membership</mat-icon>
                <span>Grades</span>
            </a>
        </div>
        <div class="sideNavBar-icon-container">
            <a href="/assignment">
                <mat-icon>assignment_ind</mat-icon>
                <span>Assignment</span>
            </a>
        </div>
        <div class="sideNavBar-icon-container">
            <a href="/syllabus">
                <mat-icon>subject</mat-icon>
                <span>Syllabus</span>
            </a>
        </div>
    </div>
</div>

<!-- class={toggleSideNavBar ? 'collpaseSideNavBar sideNavBar' : 'sideNavBar'} -->