<div class="container">
    <div class="content_box">
        <div class="left-container">
            <div class="heading">
                <h1>Welcome to EDUHAWK</h1>
            </div>
            <div class="message">
                Eduhawk ERP is India's most advanced school management software for students, teachers and management.
            </div>
            <div class="login-form">
                <div class="row">
                    <div class="input-row">
                        <input type="email" placeholder="1125698745" [(ngModel)]="schoolId">
                        <mat-icon>alternate_email</mat-icon>
                    </div>
                    <div class="input-tag">Enrollment Id</div>
                </div>
                <div class="row">
                    <div class="input-row">
                        <input type="text" placeholder="MA1"  [(ngModel)]="userId">
                        <mat-icon>school</mat-icon>
                    </div>
                    <div class="input-tag">School Id</div>
                </div>
                <div class="row">
                    <div class="input-row">
                        <input type="password" placeholder="*********"  [(ngModel)]="password">
                        <mat-icon>lock</mat-icon>
                    </div>
                    <div class="input-tag">Password</div>
                </div>
                <div class="row">
                    <button (click)="handleLoginRequest()">
                        <H3>SIGN IN</H3>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="top-container">
                <div class="heading">
                    <h1>MAKE A DREAM.</h1>
                </div>
                <div class="quote-icon-container">
                    <mat-icon> format_quote</mat-icon>
                </div>
            </div>
            <div class="bottom-container">
                <div class="message">
                    " Education is the passport to the future,
                    for tomorrow belongs to those who prepare
                    for it today "</div>
                <div class="details">
                    <div class="image"></div>
                    <div class="name">Malcolm X</div>
                </div>
            </div>
        </div>
    </div>
</div>