<div class="account-container">
    <app-topNavBar></app-topNavBar>
    <app-sideNavBar></app-sideNavBar>
    <div class="account-section">
        <div class="heading">
            <h2>My Account</h2>
        </div>
        <div class="account-setting">
            <div class="profile-picture">
                <div class="picture">
                    <img [src]="profilePictureLink" alt="">
                </div>
            </div>

            <div class="student-details">
                <div class="detail">
                    <div class="headers">Student Name</div>
                    <div class="value">{{firstName}} {{lastName}}</div>
                </div>
                <div class="detail">
                    <div class="headers">User Id</div>
                    <div class="value">{{userId}}</div>
                </div>
                <div class="detail">
                    <div class="headers">Email Address</div>
                    <div class="value">{{email}}</div>
                </div>
                <div class="detail">
                    <div class="headers">Mobile Number</div>
                    <div class="value">{{phoneNumber}}</div>
                </div>
                <div class="detail">
                    <div class="headers">Class Id</div>
                    <div class="value">{{classId}}</div>
                </div>
            </div>
        </div>
    </div>