<div class="chat-container">
    <app-topNavBar></app-topNavBar>
    <app-sideNavBar></app-sideNavBar>
    <div class="chat-section">

        <div class="left-container" [ngClass]="openChatContainer?'active':''">

            <div class="user-profile-container">
                <div class="profile-picture">
                </div>
            </div>

            <div class="side-chat-panel">
                <div class="user-chats" (click)="toggleChatContainer()">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>

                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>

                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>

                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>
                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>

                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>
                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>

                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>
                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>

                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>
                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>

                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>
                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>

                <div class="user-chats">
                    <div class="profile-picture">
                        <div class="picture">

                        </div>
                    </div>
                    <div class="messages">
                        <div class="row-a">
                            <div class="sender-name">
                                <h5> ZSQWERTY</h5>
                            </div>
                            <div class="time">
                                yesterday
                            </div>
                        </div>
                        <div class="row-b">
                            slkfjasjfapsfkpo
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="right-container" [ngClass]="openChatContainer?'active':''">

            <div class="receiver-profile-container">
                <div class="receiver-profile-picture">
                </div>
                <div class="receiver-name">
                    Receiver
                </div>
            </div>

            <div class="empty-chat-template" *ngIf="false">
                <div class="template">
                    <div class="empty-chat-icon">
                        <mat-icon> chat_bubble_outline</mat-icon>
                    </div>
                    <div class="header-a">
                        <h2> Nothing Here</h2>
                    </div>
                    <div class="header-b">
                        <h4>There are no chats in your feed</h4>
                    </div>
                </div>
            </div>

            <div class="chat-template">
                <div class="template">

                    <div class="footer">
                        <input type="text">
                        <div class="send-button">
                            <mat-icon>send</mat-icon>
                        </div>
                    </div>

                </div>
            </div>


        </div>



    </div>
</div>


<!-- <div class="right-container" [ngClass]="openChatContainer?'active':''"> -->

<!-- <div class="left-container" [ngClass]="openChatContainer?'active':''"> -->