@import "../../../../assets/scss/screen-size.scss";

.announcement-container {
    position: absolute;
    top: 10vh; // height of topnavbar=8vw;
    right: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ededed;
    width: 20vw;
    height: 88vh;
    padding: 20px;


    .announcement-header {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        border-bottom: 2px solid #000000;
        margin-bottom: 20px;

        .announcement-heading {
            font-size: 19px;
            font-weight: 400;
            margin-right: 3%;

        }
    }

    .announcement-body-container {
        width: 100%;
        height: 88%;
        box-sizing: border-box;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;



        .sub-container {
            width: 100%;
            min-height: 200px;
            max-height: 270px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 2px solid #fcf8f8;
            border-radius: 0px;
            text-align: left;
            padding: 12px 5px;
            font-weight: 300;
            font-size: 15px;
            color: #3e2a2a;
            padding: 15px;

            .title {
                width: 100%;
            }

            .circular-image {

                width: 100%;
                height: 100px;
                margin-bottom: 15px;

                img {
                    height: 100%;
                    width: 100%;
                }

            }


        }
    }

    .announcement-body-container::-webkit-scrollbar {
        display: none;
    }
}


@media screen and (max-width:$desktop-avg-max) {

    .announcement-container {

       display: none;
    }
}