<div class="announcement-container">
    <div class="announcement-header">
        <h1 class="announcement-heading">Announcement</h1>
        <!-- <CampaignIcon /> -->
    </div>
    <div class="announcement-body-container">
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First </div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First kj</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">kj card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First kj</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">kj card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First kj</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">kj card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First kj</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">kj card</div>
        </div>
        <div class="sub-container">
            <div class="image-container"><img src="" alt="" /> </div>
            <div class="title">First kj</div>
        </div>
    </div>
</div>