@import "../../../assets/scss/screen-size.scss";

.sideNavBar {
    width: 15vw;
    color: #000000;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5% 1%;
    background-color: #f0f2f5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    .sideNavBar-heading {
        width: 100%;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
    }


    .sideNavBar-container {
        width: 100%;
        display: flex;
        min-height: 30%;
        flex-direction: column;
        margin-top: 25px;
        justify-content: space-around;
        font-weight: 400;

        .sideNavBar-icon-container {
            display: flex;
            align-items: center;
            text-align: right;
            padding: 15px;
            cursor: pointer;

            a {
                display: flex;
                align-items: center;
                text-align: right;
                width: 100%;
                text-decoration: none;
                background-color: transparent;


                mat-icon {
                    margin-right: 5%;

                }
            }

            a:visited{
                text-decoration: none;
                color:black
            }

        }

        .sideNavBar-icon-container:hover {
            background-color: #0096d3;
            border-radius: 10px;
            color: #f1f1f1;
        }

    }
}


.collpaseSideNavBar {
    width: 4.5%;
    padding: 1%;

    .sideNavBar-container .sideNavBar-icon-container {
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-sizing: content-box;
    }

    .sideNavBar-container .sideNavBar-icon-container:hover {
        background-color: transparent;
    }

}


@media screen and (max-width:1300px) {
    .sideNavBar {
        width: 10vw;

        .sideNavBar-heading {
            display: none;
        }

        .sideNavBar-container {
            margin-top: 50px;
            min-height: 50%;

            .sideNavBar-icon-container {
                cursor: pointer;
                padding: 5px 2px;

                mat-icon {
                    margin-right: 0%;
                    margin-left: 30%;

                }

                span {
                    display: none;
                }

            }

            .sideNavBar-icon-container:hover {
                background-color: #0096d3;
                border-radius: 10px;
                color: #f1f1f1;
            }

        }
    }
}


@media screen and (max-width:$mobile-max) {
    .sideNavBar {
        position: fixed;
        height: 8vh;
        top:92vh;
        width: 100%;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
       

        .sideNavBar-container {
            flex-direction: row;
            width: 100%;
            margin-top: 0px;

            .sideNavBar-icon-container {
                cursor: pointer;
                padding: 2px;

                mat-icon {
                    margin-right: 0%;
                    margin-left: 0%;
                }

                span {
                    display: none;
                }

            }

        }

    }
}