<div class="assignment-container">
    <app-topNavBar></app-topNavBar>
    <app-sideNavBar></app-sideNavBar>
    <div class="assignment-section">
        <div class="heading">
            <h2>Assignments</h2>
        </div>
        <div class="upcoming-assignment-section" *ngIf="upcomingAssignmentArray.length>0">
            <div class="heading">
                <h2>Upcoming Assignment</h2>
            </div>
            <div class="upcoming-assignment ">
                <div class="upcoming-assignment-container" *ngFor="let assignment of upcomingAssignmentArray">
                    <div class="title">
                        {{assignment.title}}
                    </div>
                    <div class="sub-title">
                        {{assignment.classId}}
                    </div>
                    <div class="submission">
                        <div class="date">{{assignment.submissionDate}}</div>
                        <div class="total-marks"> Total Marks : {{assignment.totalMarks}}</div>
                    </div>
                    <button class="view-button">
                        <a [href]="assignment.pdfLink">View Assignment </a>
                    </button>
                </div>

            </div>
        </div>

        <div class="upcoming-assignment-section" *ngIf="pendingAssignmentArray.length>0">
            <div class="heading">
                <h2>Pending Assignment</h2>
            </div>
            <div class="upcoming-assignment ">
                <div class="upcoming-assignment-container" *ngFor="let assignment of pendingAssignmentArray">
                    <div class="title">
                        {{assignment.title}}
                    </div>
                    <div class="sub-title">
                        {{assignment.classId}}
                    </div>
                    <div class="submission">
                        <div class="date">{{assignment.submissionDate}}</div>
                        <div class="total-marks">Total Marks : {{assignment.totalMarks}}</div>
                    </div>
                    <button class="pending-button"> <a [href]=assignment.pdfLink>View Assignment</a> </button>
                </div>
            </div>
        </div>

        <div class="upcoming-assignment-section" *ngIf="submittedAssignmentArray.length>0">
            <div class="heading">
                <h2>Submitted Assignment</h2>
            </div>
            <div class="upcoming-assignment ">
                <div class="upcoming-assignment-container" *ngFor="let assignment of submittedAssignmentArray">
                    <div class="title">
                        {{assignment.title}}
                    </div>
                    <div class="sub-title">
                        {{assignment.subject}}
                    </div>
                    <div class="submission">
                        <div class="teacher-name">{{assignment.teacherName}}</div>
                        <div class="teacher-image">
                            <img [src]="assignment.teacherImageLink" alt="">
                        </div>
                    </div>
                    <div class="submission">
                        <div class="status">{{assignment.status}}</div>
                        <div class="marks-obtained">{{assignment.marksObtained}}</div>
                    </div>
                    <button class="submitted-button" disabled >Submitted</button>
                </div>



            </div>
        </div>



    </div>
</div>