<div class="assignment-container">
    <app-topNavBar></app-topNavBar>
    <app-sideNavBar></app-sideNavBar>
    <div class="assignment-section">
        <div class="heading">
            <h2>Assignments</h2>
        </div>
        <div class="upcoming-assignment-section">
            <div class="heading">
                <h2>Upcoming Assignment</h2>
            </div>
            <div class="upcoming-assignment ">
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="view-button" (click)="upcomingAssignment()">View Assignment </button>
                </div>

                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="view-button">View Assignment </button>
                </div>

                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="view-button">View Assignment </button>
                </div>

                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="view-button">View Assignment </button>
                </div>

                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="view-button">View Assignment </button>
                </div>


            </div>
        </div>

        <div class="upcoming-assignment-section">
            <div class="heading">
                <h2>Pending Assignment</h2>
            </div>
            <div class="upcoming-assignment ">
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="pending-button">View Assignment </button>
                </div>
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="pending-button">View Assignment </button>
                </div>
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="pending-button">View Assignment </button>
                </div>
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="pending-button">View Assignment </button>
                </div>
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <button class="pending-button">View Assignment </button>
                </div>

            </div>
        </div>

        <div class="upcoming-assignment-section">
            <div class="heading">
                <h2>Submitted Assignment</h2>
            </div>
            <div class="upcoming-assignment ">
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <div class="submission">
                        <div class="status">Status: 45789</div>
                        <div class="marks obtained">Marks:47899</div>
                    </div>
                    <button class="submitted-button">Submitted</button>
                </div>
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <div class="submission">
                        <div class="status">Status: 45789</div>
                        <div class="marks obtained">Marks:47899</div>
                    </div>
                    <button class="submitted-button">Submitted</button>
                </div>
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <div class="submission">
                        <div class="status">Status: 45789</div>
                        <div class="marks obtained">Marks:47899</div>
                    </div>
                    <button class="submitted-button">Submitted</button>
                </div>
                <div class="upcoming-assignment-container">
                    <div class="title">
                        Unit Shell And Programming assignment
                    </div>
                    <div class="sub-title">
                        assignment 3
                    </div>
                    <div class="submission">
                        <div class="date">Date: 45789</div>
                        <div class="time">Time:47899</div>
                    </div>
                    <div class="submission">
                        <div class="status">Status: 45789</div>
                        <div class="marks obtained">Marks:47899</div>
                    </div>
                    <button class="submitted-button">Submitted</button>
                </div>


            </div>
        </div>



    </div>
</div>